body{
  background-color: bisque;
}
div{
  width: 100%;
  height: 100vh;
  background-color:#8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  width: 50%;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 20px 0;
  text-align: center;
}
button{
  line-height: 24px;
  padding: 0 20px;
  font-size: 1rem;
  background-color: goldenrod;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;


}
